@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 214, 95%, 98%;
  --foreground: 220, 23%, 18%;
  --primary: 214, 65%, 47%;
  --secondary: 208, 79%, 79%;
  --destructive: 0, 76%, 57%;
  --card-background: 210, 100%, 95%;
}

.dark {
  --background: 223, 41%, 17%;
  --foreground: 0, 0%, 96%;
  --secondary: 208, 70%, 25%;
  --card-background: 224, 38%, 15%;
}

body {
  @apply bg-background text-foreground font-sans antialiased;
}
